<br />
<div class="red-words">
<%= "Comment below. You can't delete these, so choose your words carefully ;)" %>
</div>
<%= form_for [@post, @comment] do |f| %>
  <% f.label :body  %>

  <%= f.text_area :body %>
  <br />
  <%= f.submit "Leave a comment"%>
</div>
</form>
<% end %>
<br />
<%= "Comments for this post:" %>
