  <h4><%= @post.title %></h4>

        <p>
          <%= "City:" %>
          <%= @post.city %>
        </p>

        <p>
          <%= "Venue:" %>
          <%= @post.venue %>
        </p>

        <p>
          <%= "Address:" %>
          <%= @post.address %>
        </p>

        <p>
          <%= "Date of event:" %>
          <%= @post.date.strftime("%B %-d, %Y") %>
        </p>

        <p>
          <%= "Event starts at:" %>
          <%= @post.start_hour.strftime("%I:%M %P") %>
        </p>

        <p>
          <%= "Event ends at:" %>
          <%= @post.end_hour.strftime("%I:%M %P") %>
        </p>

        <p>
          <%= "Theme:" %>
          <%= @post.theme %>
        </p>

        <p>
          <%= "Description/Body:" %>
          <%= @post.body %>
        </p>

          Posted by <%= @post.user.name %> at
          <%= @post.created_at.strftime("%B %-d %Y, %I:%M %P") %>

<!-- links to edit or delete, assuming you are the user that created the post  -->

        <p><%= link_to 'Edit', edit_post_path(@post) if current_user == @post.user %></p>
        <p><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } if current_user == @post.user %></p>

  <!-- New Comment: -->

  <%= render 'comments/form' %>
        <ul>
          <% @post.comments.each do |comment| %>
          <li>
            <%= comment.user.name %> commented the following
            <%= time_ago_in_words(comment.created_at) %> ago:
            <%= comment.body %>
          </li>
          <% end %>
        </ul>

<%= link_to 'Back to all posts', posts_path %>
